/* 适配 */
@media screen and (max-width: 320px) {
    html {
        font-size: 14.2222px !important;
    }
}

@media screen and (max-width: 360px) and (min-width: 321px) {
    html {
        font-size: 16px !important;
    }
}

@media screen and (max-width: 375px)  and (min-width: 361px) {
    html {
        font-size: 16.6667px !important;
    }
}

@media screen and (max-width: 384px)  and (min-width: 376px) {
    html {
        font-size: 17.0667px !important;
    }
}

@media screen and (max-width: 393px)  and (min-width: 385px) {
    html {
        font-size: 17.4667px !important;
    }
}

@media screen and (max-width: 414px)  and (min-width: 394px) {
    html {
        font-size: 18.4px !important;
    }
}

@media screen and (max-width: 435px)  and (min-width: 415px) {
    html {
        font-size: 19.3333px !important;
    }
}

@media screen and (max-width: 460px)  and (min-width: 436px) {
    html {
        font-size: 21px !important;
    }
}

@media screen and (max-width: 500px)  and (min-width: 461px) {
    html {
        font-size: 23px !important;
    }
}

@media screen and (max-width: 541px)  and (min-width: 501px) {
    html {
        font-size: 25px !important;
    }
}

@media screen and (max-width: 601px)  and (min-width: 542px) {
    html {
        font-size: 26.6667px !important;
    }
}

@media screen and (max-width: 640px)  and (min-width: 602px) {
    html {
        font-size: 28.4444px !important;
    }
}

@media screen and (max-width: 721px)  and (min-width: 641px) {
    html {
        font-size: 30px !important;
    }
}
