* {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

body {
    background: #cbd5e4;
}

.container {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

.page-title {
    height: 45px;
    line-height: 45px;
    text-align: center;
}

.page-title h1 {
    display: inline-block;
    padding: 0 10px;
    border-bottom: solid 1px #4682b4;
}

.canv {
    margin: 20px;
    background: #fff;
    box-shadow: rgba(0, 0, 0, .5) 10px 10px 10px;
}

.menu {
    overflow: hidden;
    margin: 12px 0;
}

.menu-item {
    overflow: hidden;
    float: left;
    /*box-sizing: border-box;*/
    /*border:solid 1px transparent;*/
    cursor: pointer;
}

.menu-item:hover h3 {
    /*border-bottom:solid 1px #f00;*/
    color: #fff;
    background: #4682b4;
}

.menu-item h3 {
    box-sizing: border-box;
    border-right: solid 1px #999;
    width: 80px;
    height: 26px;
    line-height: 26px;
    font-size: 16px;
    font-weight: normal;
    text-align: center;
}

.menu-item:first-child {
    border-left: none;
}

.menu .menu-sub {
    display: none;
    position: absolute;
    /*border:solid 1px #999;*/
    border-top: none;
    box-sizing: border-box;
    color: #fff;
    /*background:#4682b4;*/
    background: rgba(70, 130, 180, .6);
}

.menu .menu-sub li {
    width: 80px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    position: relative;
}

.menu-item:hover .menu-sub {
    display: block;
}

.status-bar {
    padding: 0 10px;
    height: 16px;
    line-height: 16px;
    border: solid 1px #999;
    border-left: none;
    border-right: none;
    font-size: 12px;
}

.status-bar .position {
    min-width: 70px;
    text-align: right;
}

.status-bar .color {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 4px 0;
}

.param-bar .key {
    display: inline-block;
    width:60px;
    text-align: right;
}

.param-bar .input {
    margin:0 0 0 10px;
    width:40px;
    height:24px;
    line-height: 24px;
    padding:0 10px;
}

.color-block {
    display: block;
    width: 80%;
    height: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bg-black {
    background-color: black;
}

.bg-orange {
    background-color: orange;
}

.bg-blue {
    background-color: blue;
}

.bg-red {
    background-color: red;
}

.bg-white {
    background-color: white;
}

.bg-green {
    background-color: green;
}


/*short*/

.fr {
    float: right;
}
