.fcal {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    color: #646464;
    font-family: Arial, sans-serif;
}

.fcal-head {
    height: 30px;
    line-height: 30px;
    text-align: center;
}

.fcal-head th {
    padding: 10px 0;
    font-weight: normal;
}

.fcal-head-left {
    float: left;
}

.fcal-head-right {
    float: right;
}

.fcal-title {
    font-size: 18px;
}

.fcal-body {}

.fcal td {
    border: solid 1px #ddd;
    position:relative;
}

.fcal-row td {
    height: 60px;
    vertical-align: top;
    text-align: right;
    padding: 10px;
    cursor: pointer;
}

.fcal-week-title td {
    text-align: center;
    font-weight: bold;
    height: 28px;
    line-height: 28px;
    background: #f3f3f3;
}

.fcal-today {
    background-color:#faffbd;
}

.fcal-btn {
    height: 30px;
    line-height: 30px;
    padding: 0 20px;
    text-align: center;
    background: #f3f3f3;
    float: left;
    border-left: solid 1px #ddd;
    cursor: pointer;
}

.fcal-btn.first {
    border-left: none;
}

.fcal-btn.disabled {
    opacity: 0.3;
    cursor: default;
}

.fcal-body .checked:after {
    content:"";
    display: inline-block;
    position:absolute;
    bottom:0;
    right:0;
    width:45px;
    height: 40px;
    background: url(../images/right@x1.png) right bottom no-repeat;
}

.fcal-body .disabled {
    opacity: .3;
    cursor: default;
}
