.drop_down {
    width: 28px;
    height: 38px;
    vertical-align: -14px;
    +vertical-align: 0;
    display: inline-block;
    background-position: -18px -168px;
    cursor: pointer;
}

.drop_down.on {
    background-position: -48px -168px;
}

.drop_down_option {
    display: inline-block;
    margin: 39px 0 0 -202px;
    width: 200px;
    position: absolute;
    border: 1px solid #adadad;
    list-style: none;
    background: #fff;
    z-index: 10;
    vertical-align: top;
}

.drop_down_option li {
    height: 36px;
    line-height: 36px;
    color: #7b7b7b;
    text-align: left;
    text-indent: 12px;
    background-color: #fff;
    cursor: pointer;
}

.drop_down_option li.on {
    color: #fff;
    background-color: #C62119;
}

.drop_down_option li.on:hover {
    color: #fff;
    background-color: #C62119;
}

.drop_down_option li:hover {
    background-color: #f0f0f0;
}